<!-- layout.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE412_Team42_App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        CSE412_Team42_Application
      </h1>
      <p class="subtitle">
        <strong> Store Database Tracker</strong>!
      </p>
      <!-- <a href="{{ url_for('get_sales') }}"> -->
        <button class="button is-white is-rounded">See store sales</button>
      <!-- </a> -->
    </div>
  </section>
</body>
</html>
