<!-- layout.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE412_Team42_App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        CSE412_Team42_Application
      </h1>
      <p class="subtitle">
        <strong> Store Database Tracker</strong>!
      </p>
      <!-- <a href="{{ url_for('get_sales') }}"> -->
        <button class="button is-white is-rounded">See store sales</button>
      <!-- </a> -->
    </div>
  </section>
  <section class="section">
    <div>
      <p class="subtitle">
        <strong> Insert a New Sale</strong>
        <form>
          <label for="SalesPerson">Sales Person ID: &nbsp;</label>
            <input type="number" id="spID" minlength="1" maxlength="20" required>
          <label for="Customer">&nbsp;Customer ID: &nbsp;</label>
            <input type="number" id="cID" minlength="1" maxlength="20" required><br><br>
          <label for="Product">Product ID: &nbsp;</label>
            <input type="number" id="pID" minlength="1" maxlength="20" required>
          <label for="Quantity">&nbsp;Quantity: &nbsp;</label>
            <input type="number" id="qt" minlength="1" maxlength="20" required><br><br>
          <label for="Discount">Discount: &nbsp;</label>
            <input type="number" id="disc" minlength="4" maxlength="20" step="0.01" required>
          <label for="totalPrice">&nbsp;Total Price:&nbsp;</label>
            <input type="number" id="tp" minlength="4" maxlength="20" step="0.01" required><br><br>
          <label for="salesDate">Sale Date:&nbsp;</label>
            <input type="datetime-local" id="sd" required><br><br>
          <button class="button is-white is-rounded">Submit Sale</button>
        </form>
      </p>
    </div>
  </section>
</body>
</html>
