<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE412_App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        CSE412 Team42 Application
      </h1>
      <p class="subtitle">
        <strong> Store Database Tracker</strong>
      </p>
      <div class="tabs is-centered">
          <ul>
              <li><a href="{{ url_for('table_edits') }}">Edit Tables</a></li>
              <li><a href="{{ url_for('get_sales') }}">Sales</a></li>
              <li><a href="{{ url_for('get_products') }}">Products</a></li>
              <li><a href="{{ url_for('get_customers') }}">Customers</a></li>
              <li><a href="{{ url_for('get_employees') }}">Employees</a></li>
          </ul>
      </div>
      {% block content %}{% endblock %}
    </div>
  </section>
</body>
</html>
