<!-- templates/sales.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sales Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Sales Information</h1>
      <table class="table is-bordered is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Sale ID</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total Price</th>
            <th>Sales Date</th>
            <th>Transaction #</th>
          </tr>
        </thead>
        <tbody>
          {% for sale in sales %}
          <tr>
            <td>{{ sale.salesid }}</td>
            <td>{{ sale.customer.firstname }} {{ sale.customer.lastname }}</td>
            <td>{{ sale.product.productname }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.discount or 0 }}</td>
            <td>{{ sale.totalprice }}</td>
            <td>{{ sale.salesdate }}</td>
            <td>{{ sale.transactionnum }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="has-text-centered">
        <a href="{{ url_for('home') }}" class="button is-link is-light mt-5">Back to Home</a>
      </div>
    </div>
  </section>
</body>
</html>
